body{
    font-family: 'Yomogi', cursive;

}
.my-name{
    font-size: 2rem;
}
.my-items a{
    padding: 10px 50px !important;
    /* font-size: 1rem; */
}
.my-items a:hover{background: #fff;
    color: #e68a00 !important;
    
}
.my-style{
    display: flex;
}
.nerves{
    background: #e68a00 !important;
}
.my-things{
    display: flex;
    justify-content: space-around;
}
@media (max-width:992px){

    .my-things{
        margin-left: -200px;

    }
    .item1:hover { width: 260px !important;
        
    }
    .item2:hover { width: 160px !important;
        
    }
  

}
