body{
    font-family: 'Yomogi', cursive;

}
.my-name{
    font-size: 2rem;
}
.my-items a{
    padding: 10px 50px !important;
    /* font-size: 1rem; */
}
.my-items a:hover{background: #fff;
    color: #e68a00 !important;
    
}
.my-style{
    display: flex;
}
.nerves{
    background: #e68a00 !important;
}
.my-things{
    display: flex;
    justify-content: space-around;
}
@media (max-width:992px){

    .my-things{
        margin-left: -100px;

    }
    .item1:hover { width: 260px !important;
        
    }
    .item2:hover { width: 160px !important;
        
    }



}

.names-head{
    text-align: center;
}
.names-write{

    font-size: 1.3rem;
}
.floater{
    float: right;
}
u{
    color: #e68a00;
}
.names-write strong{
    font-weight: 400;
    color: #e68a00;
    }
    .akan-names{
        display: flex;
        justify-content: space-around;
        text-align: center;
    }
    h6{
        font-weight: 700;
    }
    ul{
        list-style: decimal;
    }
    .flexible {
        text-align: center;
        font-size: 4rem;
        color: #e68a00;
        animation: fl1 5s infinite linear;
        transform: translate(0);
    }
    @keyframes fl1{
        50%{transform:translateX(-10px) rotate(1deg);}
        100%{transform: translate(10px) rotate(-1deg);}
        75%{transform: translateY(-10px) rotate(1deg);}
        0%{transform: translateX(10px) rotate(-1deg);}
      
     }
     .flexible a{
        color: #e68a00;
        text-decoration: none;
    }
    .last-zeida{
        float: left;
    }
    .lifestyle{
        display: flex;
    }
    .flavour-but{
        background: #e68a00;
        border: none;
        margin: 2%;
       
    }
    .flavour-but:active{
        box-shadow: 0 0 5px rgb(138, 133, 133);
        transform: scale(1.2);
    }